.container-register{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-dialog{
    width: 500px;
    height: 400px;
    background-color:rgba(255,255,255,0.7);
    padding-top: 20px;
    border-radius: 10px;
    
}
.register-dialog h3{
    text-align: center;
    
}
.register-dialog .row{
    width: 400px;
    height: 40px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-dialog .row input{
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.register-dialog #submit{
    width: 400px;
    height: 40px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
}
.success-dialog {
    width: 500px;
    height: 400px;
    background-color:rgba(255,255,255,0.7);
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
}